* {
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    min-height: 100vh;
    background: url(../image/background-1.jpg) no-repeat;
    backdrop-filter: blur(5px);
    background-size: cover;
    background-position: center;

}

.Center{
  display: flex;
  justify-content: center;
}

.font_size{
  font-size: clamp(3px, 2.2vw, 20px);
}
.hidden {

    display: none !important;
}

.body_modal {
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn1 {
  margin: 10px;
    width: 9.5rem;
    height: 2.5rem;
    border-radius: 10px;
    cursor: pointer;
    background: #e40b0b9b;
    font-size: clamp(16px, 2.5vw, 23px);
    color: rgb(232, 232, 232);
    display: flex;
    justify-content: center;
    align-items: center;
}

.testone{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 5rem 5rem 5rem 5rem 5rem;
  background: rgba(0, 0, 0, 0.286);
  padding: 1;
}
/* .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99;
    opacity: 0;
    transition: 300ms;
    transform: translateY(200px);
} */

.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 140vh;
    background: rgb(0, 0, 0,0.7);
}

.modal-card{
   
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    border-radius: 10px;
    background: #fff;
    z-index: 10;
    padding: 20px;

}
.modalcard{
    margin-top: 12rem;
width: 50%;
height: auto;
}

.form-control {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.btn-cancel {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    background:transparent;
    color: #000;
}

.btn-cancel {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    background: rgb(0, 172, 246);
    color: #fff9f9;
}

.card-room{
  
  height: 40rem;
  background: url(../image/image_rooms/image_EN-1-308.png) no-repeat;
  backdrop-filter: blur(5px);
  background-size: contain;
  background-position: center;
}




* a {
    text-decoration: none;
  }
  * li {
    list-style: none;
  }
  
  ul {
    display: flex;
    padding-left: 0rem;
  }

  
  li {
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
  }
  li a {
    padding: 20px 30px;
    color: #5dade2;
  }
  li a i {
    margin-left: 5px;
    font-size: 12px;
    transition: 0.4s;
  }
  li:hover {
    background-color: #f9f9f9;
  }
  .dropdown {
    position: absolute;
    display: block;
    background-color: #fff;
    top: 120%;
    opacity: 0;
    visibility: hidden;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(255, 255, 255, 0.9), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 0.3s;
    left: 0;
    width: 10rem;
    z-index: 99;
  }
  .dropdown-link:hover .dropdown {
    top: 105%;
    opacity: 1;
    visibility: visible;
  }
  .dropdown-link:hover a i {
    transform: rotate(-180deg);
  }

  
  