* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}



body{
    width: 100%;
    height: 100vh;
    /* min-height: 100vh; */
    background: url(../image/background-1.jpg) no-repeat;
    backdrop-filter: blur(5px);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn1 {
    width: 300px;
    height: 70px;
    border-radius: 10px;
    cursor: pointer;
    background: #fff;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99;

    /* opacity: 0;
    transition: 300ms;
    transform: translateY(200px); */
}

.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0,0.7);
}

.modal-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    border-radius: 10px;
    background: #fff;
    z-index: 10;
    padding: 20px;
}

.form-control {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.txt{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background: #f2f2f2;
    outline: none;
    border: none;
}

.form-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.btn-cancel {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    background:transparent;
    color: #000;
}

.btn-Save {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    background: rgb(0, 172, 246);
    color: #fff9f9;
}